@tailwind base;

@tailwind components;

@tailwind utilities;

.scroll-hide {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.form-dark .form-input,
.form-dark .form-select {
  @apply bg-transparent !important;
}

.form-dark .form-select > option {
  @apply text-gray-900 !important;
}